# Assignment 2 (Week 2)

>**Note**: Late submissions are ***`penalized`***.

## Name: OSARIEME EHIMWENMA

In [1]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\hp\anaconda3\anaconda\lib\site-packages (0.4.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython-sql) (1.4.7)
Requirement already satisfied: prettytable<1 in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: ipython>=1.0 in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: decorator in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: pygments in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: pickleshare in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: backcall in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\hp\anaconda3\anaconda\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\hp\anaconda3\anaconda\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\anaconda3\anaconda\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\hp\anaconda3\anaconda\lib\site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\anaconda3\anaconda\lib\site-packages (from SQLAlchemy) (1.0.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import sqlite3
import sqlalchemy
# Import builtin modules
import sqlite3
from typing import List, Tuple, Dict, Union, Optional

# pandas settings
pd.options.display.max_rows = 1_000
pd.options.display.max_columns = 1_000

# Black code formatter (Optional. You can comment this!)
# %load_ext lab_black

%load_ext autoreload
%autoreload

In [4]:
fp = "C:/Users/HP/Desktop/SGA1_4/week_2(1).db"  # path to save our database
conn = sqlite3.connect(fp)

# Create a cursor (It enables you to manipulate data)
cursor = conn.cursor()

# slash side determines (/) and not(\) file will not be easily read

In [5]:
# Show all the created tables.
sql_query = """
        SELECT name FROM sqlite_master;
"""

# Execute
result = cursor.execute(sql_query)

# Display result
result.fetchall()

[('customers',),
 ('sqlite_sequence',),
 ('orders',),
 ('employee',),
 ('department',),
 ('students',),
 ('sqlite_autoindex_students_1',),
 ('products',)]

In [6]:
%load_ext sql

In [7]:
%sql sqlite:///week_2(1).db

In [8]:
%%sql 

sqlite:///week_2(1).db

In [9]:
%%sql
SELECT *
FROM sqlite_master

 * sqlite:///week_2(1).db
Done.

[('table', 'customers', 'customers', 2, 'CREATE TABLE customers (\n            id INTEGER PRIMARY KEY AUTOINCREMENT,\n            name TEXT\n            )'),
 ('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'orders', 'orders', 4, 'CREATE TABLE orders (\n            id INTEGER PRIMARY KEY AUTOINCREMENT,\n            order_id INT\n            )'),
 ('table', 'employee', 'employee', 5, 'CREATE TABLE employee(\n            id INTEGER PRIMARY KEY AUTOINCREMENT,\n            name TEXT,\n            salary INT,\n            dept_id INT\n            )'),
 ('table', 'department', 'department', 6, 'CREATE TABLE department (\n            id INTEGER PRIMARY KEY AUTOINCREMENT,\n            dept_name TEXT\n            )'),
 ('table', 'students', 'students', 7, 'CREATE TABLE students(\n            matric_no TEXT PRIMARY KEY,\n            name TEXT,\n            gender TEXT,\n            maths INT,\n            english INT,\n            physics INT\n            )'),
 ('index', 'sqlite_autoindex_students_1', 'students', 8, None),
 ('table', 'products', 'products', 9, 'CREATE TABLE products(\n            id INT,\n            store TEXT,\n            price INT\n            )')]

### The Database can be found [here](https://drive.google.com/file/d/1uIPkJWIHyZ8iQD_tQlM_K-ANoT_Bpy8P/view?usp=sharing)

> Run the command below to see all the tables present in the SQLite DB.

```sql
SELECT name FROM sqlite_master;
```

<hr>
<br>

## Qs 1: 

a. Given the table, `customers` and `orders` shown below, use a **subquery** to find the **customers** that did ***NOT*** place any orders. Display only the customer name(s).

**`customers`**

![image.png](https://i.postimg.cc/sx2WK6v3/image.png)


**`orders`**

![image.png](https://i.postimg.cc/T2H5fcKW/image.png)

b. Given the `products` table shown below:

[![image.png](https://i.postimg.cc/W18dpLXC/image.png)](https://postimg.cc/DSWv5DVP)

write a query that returns the price of each product at every store. Your result should look like this:

[![image.png](https://i.postimg.cc/s235K4Nd/image.png)](https://postimg.cc/FYnfH3vD)

**Hint:** Use `CASE` statement.

### NOTE: You must use a single query.

In [37]:
# solution A

In [39]:
%%sql

SELECT c.name
FROM customers c
JOIN orders o
ON c.id = o.id
WHERE o.order_id ISNULL

 * sqlite:///week_2(1).db
Done.

[('Afam',), ('Deborah',)]

In [ ]:
#solution B

In [40]:
%%sql

SELECT*,
CASE 
    WHEN price = 10 THEN store
    ELSE ""
    END as store,

CASE 
    WHEN price = 33 THEN store
    ELSE ""
    END as store,
    
CASE 
    WHEN price = 11 THEN store
    ELSE ""
    END as store,
    
CASE 
    WHEN price = 35 THEN store
    ELSE ""
    END as store,

CASE 
    WHEN price = 12 THEN store
    ELSE ""
    END as store,
    
CASE 
    WHEN price = 34 THEN store
    ELSE ""
    END as store

FROM products
GROUP BY price
ORDER BY store
;

 * sqlite:///week_2(1).db
Done.

[(0, 'store a', 10, 'store a', '', '', '', '', ''),
 (1, 'store a', 33, '', 'store a', '', '', '', ''),
 (0, 'store b', 11, '', '', 'store b', '', '', ''),
 (1, 'store b', 35, '', '', '', 'store b', '', ''),
 (0, 'store c', 12, '', '', '', '', 'store c', ''),
 (1, 'store c', 34, '', '', '', '', '', 'store c')]

## Qs 2: 

Given the tables `employee` and `department` shown below:

![image.png](https://i.postimg.cc/bw0J574p/image.png)

a. Write a query that generates the table shown below:

![image](https://i.postimg.cc/hjc3rdTK/image.pnghttps://i.postimg.cc/hjc3rdTK/image.png)

b. Write a query that determines the **highest earner** in **each department**.

c. Write a query that shows all the employees in each department **except** the **lowest earner**. i.e generate the table below

![image.png](https://i.postimg.cc/MHcmw7Q0/image.png)

In [11]:
# from created tables.
sql_query = """
        SELECT * FROM employee;
"""

# Execute
result = cursor.execute(sql_query)

# Display result
result.fetchall()

[(1, 'Steve', 32000, 1),
 (2, 'Bola', 31000, 1),
 (3, 'Felix', 33000, 2),
 (4, 'Babalola', 30200, 1),
 (5, 'Okafor', 25000, 2),
 (6, 'Adigun', 30000, 1),
 (7, 'Gafar', 41000, 2),
 (8, 'Amanda', 53000, 2)]

In [12]:
%%sql

SELECT * 
FROM employee

 * sqlite:///week_2(1).db
Done.

[(1, 'Steve', 32000, 1),
 (2, 'Bola', 31000, 1),
 (3, 'Felix', 33000, 2),
 (4, 'Babalola', 30200, 1),
 (5, 'Okafor', 25000, 2),
 (6, 'Adigun', 30000, 1),
 (7, 'Gafar', 41000, 2),
 (8, 'Amanda', 53000, 2)]

In [13]:
%%sql

SELECT * 
FROM department

 * sqlite:///week_2(1).db
Done.

[(1, 'Sales'), (2, 'IT')]

In [14]:
# Solution A

In [15]:
%%sql

SELECT e.name, e.salary, d.dept_name
    FROM employee e
JOIN department d
ON e.dept_id = d.id
ORDER BY dept_name

 * sqlite:///week_2(1).db
Done.

[('Felix', 33000, 'IT'),
 ('Okafor', 25000, 'IT'),
 ('Gafar', 41000, 'IT'),
 ('Amanda', 53000, 'IT'),
 ('Steve', 32000, 'Sales'),
 ('Bola', 31000, 'Sales'),
 ('Babalola', 30200, 'Sales'),
 ('Adigun', 30000, 'Sales')]

In [16]:
#Solution B

In [17]:
%%sql

SELECT e.name, d.dept_name, ROUND(MAX(e.salary),2) AS Highest_earner
    FROM employee e
JOIN department d
ON e.dept_id = d.id
GROUP BY dept_name

 * sqlite:///week_2(1).db
Done.

[('Amanda', 'IT', 53000.0), ('Steve', 'Sales', 32000.0)]

In [18]:
# Solution C

In [19]:
%%sql

SELECT e.name, e.salary, d.dept_name
    FROM employee e
JOIN department d
ON e.dept_id = d.id
WHERE salary > (SELECT ROUND(MIN(salary), 2)  AS MIN_salary
                    FROM employee)
ORDER BY salary DESC;

 * sqlite:///week_2(1).db
Done.

[('Amanda', 53000, 'IT'),
 ('Gafar', 41000, 'IT'),
 ('Felix', 33000, 'IT'),
 ('Steve', 32000, 'Sales'),
 ('Bola', 31000, 'Sales'),
 ('Babalola', 30200, 'Sales'),
 ('Adigun', 30000, 'Sales')]

### Qs 3: Given the students table:

a. Write a query that creates a new column `percentage_score`.  The `percentage_score` is the mean of all the subjects for each student. Round the `percentage_score` to 2 decimal points and sort in descending order.

b. Write a query that selects **ONLY** the students that scored more than the mean of the `percentage_score`.

In [20]:
# Show all the created tables.
sql_query = """
        SELECT * FROM students;
"""

# Execute
result = cursor.execute(sql_query)

# Display result
result.fetchall()

[('ux-012-013', 'Emeka', 'M', 95, 84, 94),
 ('ux-012-014', 'Agnes', 'F', 80, 69, 88),
 ('ux-012-015', 'Alimat', 'F', 69, 69, 77),
 ('ux-012-017', 'Fred', 'M', 28, 57, 39),
 ('ux-012-018', 'Ogechi', 'F', 80, 69, 78),
 ('ux-012-019', 'Steve', 'M', 61, 69, 72),
 ('ux-012-016', 'Esther', 'F', 93, 77, 91),
 ('ux-012-020', 'Ahmed', 'M', 87, 94, 85),
 ('ux-012-021', 'Samantha', 'F', 52, 69, 48),
 ('ux-012-022', 'Philip', 'M', 51, 39, 45),
 ('ux-012-023', 'Dave', 'M', 77, 69, 70),
 ('ux-012-024', 'Seyi', 'M', 54, 83, 63)]

In [23]:
%%sql

SELECT * 
FROM students

 * sqlite:///week_2(1).db
Done.

[('ux-012-013', 'Emeka', 'M', 95, 84, 94),
 ('ux-012-014', 'Agnes', 'F', 80, 69, 88),
 ('ux-012-015', 'Alimat', 'F', 69, 69, 77),
 ('ux-012-017', 'Fred', 'M', 28, 57, 39),
 ('ux-012-018', 'Ogechi', 'F', 80, 69, 78),
 ('ux-012-019', 'Steve', 'M', 61, 69, 72),
 ('ux-012-016', 'Esther', 'F', 93, 77, 91),
 ('ux-012-020', 'Ahmed', 'M', 87, 94, 85),
 ('ux-012-021', 'Samantha', 'F', 52, 69, 48),
 ('ux-012-022', 'Philip', 'M', 51, 39, 45),
 ('ux-012-023', 'Dave', 'M', 77, 69, 70),
 ('ux-012-024', 'Seyi', 'M', 54, 83, 63)]

In [24]:
%%sql

ALTER TABLE students 
    ADD percentage_score TEXT;

 * sqlite:///week_2(1).db
Done.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [25]:
%%sql

UPDATE students
SET percentage_score = (maths + english + physics)/3

 * sqlite:///week_2(1).db
12 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [26]:
%%sql

SELECT * 
FROM students

 * sqlite:///week_2(1).db
Done.

[('ux-012-013', 'Emeka', 'M', 95, 84, 94, '91'),
 ('ux-012-014', 'Agnes', 'F', 80, 69, 88, '79'),
 ('ux-012-015', 'Alimat', 'F', 69, 69, 77, '71'),
 ('ux-012-017', 'Fred', 'M', 28, 57, 39, '41'),
 ('ux-012-018', 'Ogechi', 'F', 80, 69, 78, '75'),
 ('ux-012-019', 'Steve', 'M', 61, 69, 72, '67'),
 ('ux-012-016', 'Esther', 'F', 93, 77, 91, '87'),
 ('ux-012-020', 'Ahmed', 'M', 87, 94, 85, '88'),
 ('ux-012-021', 'Samantha', 'F', 52, 69, 48, '56'),
 ('ux-012-022', 'Philip', 'M', 51, 39, 45, '45'),
 ('ux-012-023', 'Dave', 'M', 77, 69, 70, '72'),
 ('ux-012-024', 'Seyi', 'M', 54, 83, 63, '66')]

In [32]:
# solution A

In [31]:
%%sql

SELECT matric_no, name, maths, english, physics,
(maths + english + physics) as total,
(maths + english + physics)/3 as percentage_score
FROM students
ORDER BY percentage_score DESC;

 * sqlite:///week_2(1).db
Done.

[('ux-012-013', 'Emeka', 95, 84, 94, 273, 91),
 ('ux-012-020', 'Ahmed', 87, 94, 85, 266, 88),
 ('ux-012-016', 'Esther', 93, 77, 91, 261, 87),
 ('ux-012-014', 'Agnes', 80, 69, 88, 237, 79),
 ('ux-012-018', 'Ogechi', 80, 69, 78, 227, 75),
 ('ux-012-023', 'Dave', 77, 69, 70, 216, 72),
 ('ux-012-015', 'Alimat', 69, 69, 77, 215, 71),
 ('ux-012-019', 'Steve', 61, 69, 72, 202, 67),
 ('ux-012-024', 'Seyi', 54, 83, 63, 200, 66),
 ('ux-012-021', 'Samantha', 52, 69, 48, 169, 56),
 ('ux-012-022', 'Philip', 51, 39, 45, 135, 45),
 ('ux-012-017', 'Fred', 28, 57, 39, 124, 41)]

In [34]:
%%sql

SELECT ROUND(AVG(percentage_score), 2)  AS AVG_percentage_score
FROM students;

 * sqlite:///week_2(1).db
Done.

[(69.83,)]

In [35]:
# solution B

In [36]:
%%sql

SELECT name, percentage_score
FROM students
WHERE percentage_score > (SELECT ROUND(AVG(percentage_score), 2)  AS AVG_percentage_score
                                FROM students);

 * sqlite:///week_2(1).db
Done.

[('Emeka', '91'),
 ('Agnes', '79'),
 ('Alimat', '71'),
 ('Ogechi', '75'),
 ('Esther', '87'),
 ('Ahmed', '88'),
 ('Dave', '72')]